header {
    width: 100%;
    height: 120dvh;
    background-image: url(../img/homepage-hero-background-scaled.jpg);
    object-fit: cover;
    background-size: 1920px;
    display: flex;
    justify-content: center;

    >nav {
        width: 80%;
        height: 100px;
        /* background-color: red; */
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: end;

        >figure {
            width: 20%;

            >img {
                width: 100%;
            }
        }

        >ul {
            direction: rtl;
            width: 80%;
            height: 100%;
            display: flex;
            align-items: end;
            padding-bottom: 15px;


            >li {
                padding: 0 15px;
                color: #4f4f4f;

                >a {
                    font-size: 19px;
                    padding: 10px 0;
                    transition: .4s;

                    &:hover {
                        color: #3d66ae;
                    }
                }


                &:nth-of-type(5) {
                    transition: .4s;

                    >a {
                        >i {
                            font-size: 12px;
                        }
                    }

                    &:hover {
                        >ul {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    >ul {
                        background-color: rgb(250, 250, 250);
                        position: absolute;
                        top: 100px;
                        left: 615px;
                        opacity: 0;
                        visibility: hidden;
                        transition: .4s;
                        border-radius: 10px;
                        box-shadow: 1px 1px 20px rgba(107, 100, 100, 0.265);

                        >li {
                            border-bottom: 1px solid rgba(128, 128, 128, 0.384);


                            >a {
                                font-size: 18px;
                                display: flex;
                                justify-content: end;
                                padding: 15px;
                                color: black;
                                transition: .4s;

                                &:hover {
                                    color: #3d66ae;
                                }
                            }

                            &:nth-of-type(9) {
                                border-bottom: none;
                            }
                        }
                    }
                }

                &:nth-of-type(6) {
                    color: #3d66ae;
                }
            }
        }
    }

    >section {
        width: 80%;
        margin-top: 100px;
        display: flex;


        >div {
            width: 50%;
            color: #343434;


            &:nth-of-type(1) {
                display: flex;
                flex-direction: column;
                justify-content: center;

                * {
                    margin-block: 15px;
                }

                >p {
                    font-size: 26px;
                }

                >a {
                    margin-top: 20px;
                    color: white;
                }
            }

            &:nth-of-type(2) {
                display: flex;
                justify-content: center;
                align-items: end;
                margin-bottom: 15vh;

                >form {
                    width: 400px;
                    border-radius: 10px;
                    background-color: rgb(248, 248, 248);
                    box-shadow: 2px 2px 40px rgba(83, 80, 80, 0.395);
                    padding: 40px;

                    * {
                        width: 100%;
                        margin-block: 15px;
                    }

                    >label {
                        font-size: 28px;
                        color: #3d66ae;
                    }

                    >input {
                        padding: 15px 10px;
                        border-radius: 5px;
                        border: .5px solid rgba(128, 128, 128, 0.235);
                        transition: .4s;


                        &:hover {
                            border: .5px solid #009fe3;
                        }

                        &:focus {
                            outline: .5px solid #3d66ae;
                        }
                    }

                    >p {
                        width: 95%;
                        font-size: 14px;
                        margin: 10px 0 40px;
                        color: #4f4f4fd1;
                    }

                    >a {
                        font-size: 16px;
                        color: aliceblue;
                    }
                }
            }
        }



    }
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-one {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 20vh;


        >div {
            width: 30%;
            border-radius: 10px;
            box-shadow: 2px 2px 40px rgba(97, 91, 91, 0.454);

            &:nth-of-type(1) {
                color: black;
            }

            &:nth-of-type(2) {
                background-color: #009fe3;
                color: white;
            }

            &:nth-of-type(3) {
                background-color: #3d66ae;
                color: white;
            }

            >figure {
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                * {
                    text-align: center;
                }

                >h4 {
                    font-size: 32px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }

                >p {
                    font-size: 24px;
                }

                >img {
                    width: 200px;
                    height: 200px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .section-two {
        width: 80%;
        /* height: 130dvh; */


        >h1 {
            font-size: 40px;
            text-align: center;
            color: black;
        }

        >div {
            border: rgb(152, 142, 142);
            height: 100vh;
            display: flex;

            >div {
                width: 50%;
                height: 100%;

                &:nth-of-type(1) {
                    padding: 40px;

                    >ul {
                        >li {
                            >h4 {
                                color: #3d66ae;
                                font-size: 28px;
                                margin: 50px 0 20px;
                            }

                            >p {
                                font-size: 16px;
                                width: 75%;
                                color: #343434;
                            }

                            .change-color {
                                color: #009fe3;
                            }
                        }
                    }
                }

                &:nth-of-type(2) {
                    padding: 40px;

                    >figure {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;
                        margin-top: 50px;

                        >img {
                            width: 450px;
                            border-radius: 20px;
                        }

                        >figcaption {
                            width: 400px;
                            position: relative;
                            left: 150px;
                            top: -70px;
                            background-color: #fff;
                            border-radius: 20px;
                            padding: 20px;
                            box-shadow: 2px 2px 40px rgba(97, 91, 91, 0.454);


                            >P {
                                width: 90%;
                                font-size: 14px;
                            }

                            >h5 {
                                font-size: 20px;
                                color: #009fe3;
                                margin: 20px 0 5px;
                            }

                        }
                    }
                }
            }
        }
    }

    .section-three {
        margin-top: 30vh;

        >figure {
            position:relative;
            >img {
                width: 100%;
            }

            >figcaption {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 50%;left: 50%;
                transform: translate(-50%, -50%);
                color:#343434;

                *{
                    margin-block: 10px;
                }

                >h3{
                    font-size: 60px;
                }
                >p{
                    font-size: 32px;
                }
                >a{
                    width: 300px;
                    border: 2px solid #3d66ae;
                    background-color: #fff;
                    padding: 10px;

                    &:hover{
                       color: white;
                    }
                }
            }
        }
    }

}